name: CI/CD
on:
  push:
    branches: [main]
  pull_request:

jobs:
  CI:
    uses: AstroNvim/.github/.github/workflows/plugin_ci.yml@main
    secrets: inherit
    with:
      plugin_name: astrolsp
      is_production: ${{ github.ref == 'refs/heads/main' }}
